pip==25.0.1
transformers==4.51.3
peft==0.14.0
trl @ git+https://github.com/huggingface/trl.git@f3e8c2304428ef16e9ae5de9e5741ed84d533b7b
bitsandbytes
evaluate
peft
torchaudio
torchvision
tensorboard
deepspeed
accelerate
matplotlib
seaborn
datasets
